.forgotPassword {
    width: 40%;
    margin: 8% auto ;
    min-height: 300px;
}

.forgotPassword h3{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}

.forgotPassword #forgotEmail{
    font-size: 28px;
    font-weight: 600;
}
